<h1>{name} share an album to you</h1>
<div>Album Name : {ablum-text}</div>
<div>Album Pictures:</div>
<div>
    <img src="{image1}" style="width:200px;height:100px;">
    <img src="{image2}" style="width:200px;height:100px;">
    <img src="{image3}" style="width:200px;height:100px;">
</div>
<div><br /></div>
<div><a href="http://silver.bryht.net/" target="_blank">Login</a></div>
<div><a href="http://silver.bryht.net/login/register?mail={mail}" target="_blank">Register</a></div>
<div><br /></div>