{% extends "layout-main.html" %} {% block content %}


<div class="tpl-content-wrapper">


    <div class="tpl-portlet-components">
        <div class="tpl-block">
            <div class="am-g">
                <div class="am-u-sm-12 am-u-md-6">
                    <div class="am-btn-toolbar">
                        <div class="am-btn-group am-btn-group-xs">
                            <a type="button" class="am-btn am-btn-default am-btn-success" href="/index/add"><span class="am-icon-plus"></span> 新增</a>
                        </div>
                    </div>
                </div>

            </div>
            <div class="am-g">
                <div class="tpl-table-images">
                    {% for image in images%}
                    <div class="am-u-sm-12 am-u-md-6 am-u-lg-4">
                        <div class="tpl-table-images-content">
                            <div class="tpl-table-images-content-i-time">发布时间：2016-09-12</div>

                            <a href="javascript:;" class="tpl-table-images-content-i">
                                <div class="tpl-table-images-content-i-info">
                                    <span class="ico">
                                    <img src="/app/assets/img/user01.png" alt="">发布者
                                 </span>

                                </div>
                                <span class="tpl-table-images-content-i-shadow"></span>
                                <img src="{{image.url}}" alt="">
                            </a>
                            <div class="tpl-table-images-content-block">
                                <div class="tpl-i-font">
                                    {{image.description}}
                                </div>
                                <div class="am-btn-toolbar">
                                    <div class="am-btn-group am-btn-group-xs tpl-edit-content-btn">
                                        <button type="button" class="am-btn am-btn-default am-btn-secondary"><span class="am-icon-edit"></span> 编辑</button>
                                        <button type="button" class="am-btn am-btn-default am-btn-danger"><span class="am-icon-trash-o"></span> 删除</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}

                    <div class="am-u-lg-12">
                        <div class="am-cf">

                            <div class="am-fr">
                                <ul class="am-pagination tpl-pagination">
                                    {% for page in pageNav%}
                                    <li class="{% if page.pageActive%}am-active {% endif %}">
                                        <a href="{{page.url}}">{{page.num}}</a>
                                    </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                        <hr>
                    </div>
                </div>

            </div>
        </div>
        <div class="tpl-alert"></div>
    </div>

</div>

<script>

</script>

{% endblock %}