{% extends "layout-main.html" %} {% block content %}


<div class="tpl-content-wrapper">

    <div class="tpl-portlet-components">
        <div class="tpl-block">
            <div class="am-g">
                <div class="am-u-sm-12 am-u-md-6">
                    <div class="am-btn-toolbar">
                        <div class="am-btn-group am-btn-group-xs">
                            <a type="button" class="am-btn am-btn-default am-btn-success" href="/index/add"><span class="am-icon-plus"></span> New Photo</a>
                        </div>
                    </div>
                </div>

            </div>
            <div class="am-g">
                <div class="tpl-table-images">
                    {% for image in images%}
                    <div class="am-u-sm-12 am-u-md-6 am-u-lg-4">
                        <div class="tpl-table-images-content">
                            <div class="tpl-table-images-content-i-time">发布时间：2016-09-12</div>

                            <a href="javascript:;" class="tpl-table-images-content-i">
                                <div class="tpl-table-images-content-i-info">
                                    <span class="ico">
                                    <img src="/app/assets/img/user01.png" alt="">发布者
                                 </span>

                                </div>
                                <span class="tpl-table-images-content-i-shadow"></span>
                                <img src="{{image.url}}" alt="">
                            </a>
                            <div class="tpl-table-images-content-block">
                                <div class="tpl-i-font">
                                    {{image.description}}
                                </div>
                                <div class="am-btn-toolbar">
                                    <div class="am-btn-group am-btn-group-xs tpl-edit-content-btn">
                                        <a href="/index/edit?id={{image.id}}" type="button" class="am-btn am-btn-default am-btn-secondary"><span class="am-icon-edit"></span> 编辑</a>
                                        <a onclick="deleteImage('{{image.id}}')" type="button" class="am-btn am-btn-default am-btn-danger"><span class="am-icon-trash-o"></span> 删除</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}

                    <div class="am-u-lg-12">
                        <div class="am-cf">

                            <div class="am-fr">
                                <ul class="am-pagination tpl-pagination">
                                    {% for page in pageNav%}
                                    <li class=" {% if page.pageActive%}am-active {% endif %}">
                                        <a class="page-nav-link" pageIndex="{{page.pageIndex}}">{{page.num}}</a>
                                    </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                        <hr>
                    </div>
                </div>

            </div>
        </div>
        <div class="tpl-alert"></div>
    </div>

</div>

<script>
    (function () {

        var links = document.getElementsByClassName('page-nav-link');
        for (var index = 0; index < links.length; index++) {
            var element = links[index];
            var url = setLocationPara('page', element.getAttribute('pageIndex'));
            element.setAttribute('href', url);
        }

    })();

    function setLocationPara(name, value) {
        var url = '';
        //?category=me&page=0
        var search = location.search;
        if (search != '') {
            var nameIndex = search.indexOf(name);
            if (nameIndex > 0) {
                var nameValue = '';
                var sign = search.substr(nameIndex).indexOf('&');
                if (sign == -1) {
                    nameValue = search.substr(nameIndex)
                }
                else {
                    var signIndex = nameIndex + sign;
                    nameValue = search.substring(nameIndex, signIndex);
                }
                url = location.href.replace(nameValue, name + '=' + value);
            } else {
                url = location.href + '&' + name + '=' + value;
            }
        } else {
            url = location.href + '?' + name + '=' + value;
        }
        return url;
    }

    function deleteImage(id) {
        var ok = confirm("确认删除？");
        if (ok) {
            $.get('/index/delete?id=' + id, function (res) {
                var data = JSON.parse(res);
                if (data.ok) {
                    window.location = window.location;
                } else {
                    alert(data.result);
                }

            });
        }
    }

</script>

{% endblock %}