{% extends "layout-main.html" %} {% block content %}

<div class="tpl-content-wrapper">
    <div class="tpl-portlet-components">
        <div class="tpl-block">
            <div class="am-g">
                <div class="tpl-form-body tpl-form-line">
                    <form action="/index/upload" method="post" enctype="multipart/form-data" class="am-form tpl-form-line-form">
                        <div class="am-form-group">
                            <label for="user-weibo" class="am-u-sm-3 am-form-label">Photo</label>
                            <div class="am-u-sm-9">
                                <div class="am-form-group am-form-file">
                                    <div class="tpl-form-file-img">
                                        <img id="img-preview"  name="img-preview" src="/app/assets/img/image_1876px_1202980_easyicon.net.png" alt="">
                                    </div>
                                    <button type="button" class="am-btn am-btn-danger am-btn-sm">
                                            <i class="am-icon-cloud-upload"></i> Add Photo</button>
                                    <input id="img-file" name="img-file" type="file" onchange="fileChanged(this)" multiple>

                                </div>
                            </div>
                        </div>
                        <div class="am-form-group">
                            <label for="user-name" class="am-u-sm-3 am-form-label">Description</label>
                            <div class="am-u-sm-9">
                                <input id="img-description" name="img-description" type="text" class="tpl-form-input" placeholder="Please input the description">
                            </div>
                        </div>
                        <div class="am-form-group">
                            <label for="user-email" class="am-u-sm-3 am-form-label">Publish Time</label>
                            <div class="am-u-sm-9">
                                <input type="text" id="img-time" name="img-time" class="am-form-field tpl-form-no-bg" placeholder="Please input the photo time"
                                    data-am-datepicker="" readonly/>
                            </div>
                        </div>
                        <input id="album_id" name="album_id" type="text" style="display:none">
                        <div class="am-form-group">
                            <div class="am-u-sm-9 am-u-sm-push-3">
                                <input type="submit" class="am-btn am-btn-primary tpl-btn-bg-color-success"></input>
                            </div>
                        </div>
                    </form>

                </div>
            </div>
        </div>

    </div>
</div>


{% endblock %}{% block javascript %}

<script type="text/javascript">
    (function () {
        if (location.pathname.indexOf('edit') > 0) {

            document.getElementById('img-preview').setAttribute('src', '/index/getImageUrlById?id={{image.id}}');
            document.getElementById('img-description').value = '{{image.name}}';
            document.getElementById('img-time').value = '{{image.name}}';

        }
        document.getElementById('album_id').value = urlUtil.getQueryValue('album_id');
    })();


    function fileChanged(target) {

        var file = target.files[0];
        var data = new Date(file.lastModifiedDate);
        var lastModifiedDate = data.toLocaleDateString();
        var name = file.name;
        var size = file.size;
        var type = file.type;
        
        //if (size > 1000 * 1000) {
        clipImage(file, function (url) {
            //var url = window.URL.createObjectURL(file);
            
            document.getElementById('img-preview').src = url;

            debugger;
        });
        //}




        document.getElementById('img-time').value = lastModifiedDate;
        document.getElementById('img-description').value = name + ',' + size + ',' + type;
    }

    function clipImage(file, callback) {
        var maxWidth = 800;
        var maxHeight = 800;
        var reader = new FileReader();
        reader.onload = function (e) {

            downscaleImage(e.target.result, 50,null,null,function (url) {
                callback(url);
            });

        }
        reader.readAsDataURL(file);


    }

    function downscaleImage(dataUrl, newWidth, imageType, imageArguments,completed) {

        var image, oldWidth, oldHeight, newHeight, canvas, ctx, newDataUrl;

        // Provide default values
        imageType = imageType || "image/jpeg";
        imageArguments = imageArguments || 0.7;

        // Create a temporary image so that we can compute the height of the downscaled image.
        image = new Image();
        image.src = dataUrl;
        image.onload = function () {
            oldWidth = image.width;
            oldHeight = image.height;
            imageLoadCompleted();
        };

        var imageLoadCompleted = function (params) {
            newHeight = Math.floor(oldHeight / oldWidth * newWidth)

            // Create a temporary canvas to draw the downscaled image on.
            canvas = document.createElement("canvas");
            canvas.width = newWidth;
            canvas.height = newHeight;

            // Draw the downscaled image on the canvas and return the new data URL.
            ctx = canvas.getContext("2d");
            ctx.drawImage(image, 0, 0, newWidth, newHeight);
            newDataUrl = canvas.toDataURL(imageType, imageArguments);
            completed(newDataUrl);
        }

    }

</script>


{% endblock %}