{% extends "layout-main.html" %} {% block content %}
<div class="tpl-content-wrapper">

    <div class="tpl-portlet-components">
        <div class="tpl-block">
            <div class="am-g">

                <div class="am-btn-toolbar">
                    <div class="am-btn-group am-btn-group-xs">
                        <a id="add-image" type="button" class="am-btn am-btn-default am-btn-success">
                            <span class="am-icon-plus"></span> New Photo</a>
                        <a id="eidt-album" type="button" class="am-btn am-btn-default am-btn-warning">
                            <span class="am-icon-edit"></span> Edit Album</a>
                        <a id="delete-album" type="button" class="am-btn am-btn-default am-btn-danger">
                            <span class="am-icon-recycle"></span> Delete Album</a>
                        <a id="show-album" type="button" class="am-btn am-btn-default am-btn-secondary">

                            <span class="am-icon-tv"></span> Show Album</a>

                        <iframe frameborder="no" border="0" marginwidth="0" marginheight="0" style="margin-top:-12px;float:left;" width=298 height=52
                            src="{{album.music_link}}"></iframe>

                        <a id="edit-musiclink" class="am-btn">
                            <span class="am-icon-edit"></span></a> {% for user in albumUsers%}

                        <div class="album-users">
                            <img src="{{user.avatar}}"> {{user.name}}
                        </div>
                        {% endfor %}
                    </div>

                </div>


            </div>
            <div class="am-g">
                <div class="tpl-table-images">
                    {% for image in images%}
                    <div class="am-u-sm-12 am-u-md-6 am-u-lg-4">
                        <div class="tpl-table-images-content">
                            <div class="tpl-table-images-content-i-time">Create Time：{{image.create_time}}</div>

                            <a href="javascript:;" class="tpl-table-images-content-i">

                                <span class="tpl-table-images-content-i-shadow"></span>
                                <img src="{{image.url}}" alt="">
                            </a>
                            <div class="tpl-table-images-content-block">
                                <div class="tpl-i-font">
                                    {{image.description}}
                                </div>
                                <div class="am-btn-toolbar">
                                    <div class="am-btn-group am-btn-group-xs tpl-edit-content-btn">
                                        <!--<a href="/index/edit?id={{image.id}}" type="button" class="am-btn am-btn-default am-btn-secondary"><span class="am-icon-edit"></span> Edit</a>-->

                                        <div class="tpl-table-images-content-i-info">
                                            <span class="ico">
                                                 <img src="{{image.avatar}}" alt="">{{image.username}}
                                         </span>
                                        </div>
                                        <a onclick="deleteImage('{{image.id}}')"><span class="am-icon-trash-o"></span> Delete</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}

                    <div class="am-u-lg-12">
                        <div class="am-cf">

                            <div class="am-fr">
                                <ul class="am-pagination tpl-pagination">
                                    {% for page in pageNav%}
                                    <li class=" {% if page.pageActive%}am-active {% endif %}">
                                        <a class="page-nav-link" pageIndex="{{page.pageIndex}}">{{page.num}}</a>
                                    </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                        <hr>
                    </div>
                </div>

            </div>
        </div>
        <div class="tpl-alert"></div>
    </div>

</div>
{% endblock %} {% block javascript %}
<script>
    (function (document) {
        var links = document.getElementsByClassName('page-nav-link');
        for (var index = 0; index < links.length; index++) {
            var element = links[index];
            var url = urlUtil.setQueryValue('page', element.getAttribute('pageIndex'));
            element.setAttribute('href', url);
        }


        var album_id = urlUtil.getQueryValue('album_id');

        $('#add-image')[0].setAttribute('href', '/index/add?album_id=' + album_id);
        $('#eidt-album')[0].setAttribute('href', '/index/albumEdit?album_id=' + album_id);
        $('#delete-album').click(function () { deleteAlbum(album_id) });
        $('#edit-musiclink')[0].setAttribute('href', '/index/albumEdit?album_id=' + album_id);
    })(document);

    function deleteImage(id) {
        var ok = confirm("确认删除？");
        if (ok) {
            $.get('/index/delete?id=' + id, function (res) {
                var data = JSON.parse(res);
                if (data.ok) {
                    window.location = window.location;
                } else {
                    alert(data.result);
                }

            });
        }
    }

    function deleteAlbum(id) {
        var ok = confirm("确认删除？");
        if (ok) {
            $.get('/index/albumDelete?album_id=' + id, function (res) {
                var data = JSON.parse(res);
                if (data.ok) {
                    window.location = '/index/index?album_id=' + data.result;
                } else {
                    alert(data.result);
                }

            });
        }
    }

</script>
{% endblock %}