{% extends "common/layout-main.html" %} {% block content %}
<div class="col-xs-12">
    <div class="box">
        <div class="box-header with-border">
            <h3 class="box-title">Image Add</h3>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
            <form action="/index/upload" method="post" enctype="multipart/form-data" class="form-horizontal">
                <div class="form-group">
                    <label for="image-avatar" class="col-xs-2 control-label">Image</label>
                    <div class="col-xs-10">
                        <div class="row">
                            <div class="col-xs-6 col-sm-4 col-md-3">
                                <div class="thumbnail">
                                    <img id="img-preview" src="/app/assets/img/image_1876px_1202980_easyicon.net.png" alt="">
                                    <input id="img-source" name="img-source" class="hidden">
                                    <input id="img-type" name="img-type" class="hidden">
                                    <input id="img-name" name="img-name" class="hidden">
                                    <input id="img-size" name="img-size" class="hidden">
                                </div>
                            </div>
                        </div>
                        <div>
                            <a class="btn btn-danger" onclick="{$('#img-file').click();}">
                             <i class="glyphicon glyphicon-folder-open"></i>
                             Upload
                            </a>
                            <input id="img-file" class="hidden" name="img-file" type="file" onchange="fileChanged(this)"/>
                        </div>

                    </div>
                </div>
                <div class="form-group">
                    <label for="img-description" class="col-xs-2 control-label">Description</label>
                    <div class="col-xs-10">
                        <input type="text" class="form-control" id="img-description" name="img-description" value="">
                    </div>
                </div>
                 <div class="form-group">
                    <label for="img-description" class="col-xs-2 control-label">Publish Time</label>
                    <div class="col-xs-10">
                        <input type="text" class="form-control" id="img-time" name="img-time"  value="">
                    </div>
                </div>
                <input id="album_id" name="album_id" type="text" style="display:none">
                <div class="form-group">
                    <div class="col-xs-10">
                        <input type="submit" value="Submit" class="btn btn-primary"></input>
                    </div>
                </div>
            </form>

        </div>

    </div>
</div>

{% endblock %}
{% block javascript %}
<script type="text/javascript">
 
   (function () {
        if (location.pathname.indexOf('edit') > 0) {
            //Edit mode
            $('box-title').val('Edit Image');
            document.getElementById('img-preview').setAttribute('src', '/index/getImageUrlById?id={{image.id}}');
            document.getElementById('img-description').value = '{{image.description}}';
            document.getElementById('img-time').value = '{{image.create_time}}';

        }else{
            //Add mode

        }
        document.getElementById('album_id').value = urlUtil.getQueryValue('album_id');
    })();


    function fileChanged(target) {

        var file = target.files[0];
        var data = new Date(file.lastModifiedDate);
        var lastModifiedDate = data.toLocaleDateString();

        document.getElementById('img-type').value = file.type;
        document.getElementById('img-name').value = file.name;
        document.getElementById('img-size').value = file.size;

        fileUtil.clipImage(file, function (url) {
            document.getElementById('img-preview').src = url;
            document.getElementById('img-source').value = url;

        });

        document.getElementById('img-time').value = lastModifiedDate;
    }

</script>

{% endblock %}