<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>KindsPlay</title>
    <meta name="description" content="KindsPlay">
    <meta name="keywords" content="index">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <link rel="icon" type="image/png" href="/app/assets/img/moon_32px_1206584_easyicon.net.png">
    <link rel="apple-touch-icon-precomposed" href="/app/assets/img/moon_72px_1206584_easyicon.net.png">
    <meta name="apple-mobile-web-app-title" content="KindsPlay" />
    <link rel="stylesheet" href="/app/assets/css/amazeui.min.css" />
    <link rel="stylesheet" href="/app/assets/css/admin.css">
    <link rel="stylesheet" href="/app/assets/css/app.css">
</head>

<body>
    <content>
        {% block content %} {% endblock %}
    </content>
    <script src="/app/assets/js/jquery.min.js"></script>
    <script src="/app/assets/js/amazeui.min.js"></script>
    <script src="/app/assets/js/app.js"></script>
</body>

</html>