{% extends "layout-login.html" %} {% block content %}

<div class="am-g myapp-login">
    <div class="myapp-login-logo-block  tpl-login-max">
        <div class="myapp-login-logo-text">
            <div class="myapp-login-logo-text">
                Kinds <span> Play</span> <i class="am-icon-moon-o"></i>
            </div>
        </div>

        <div class="login-font">
            <span> </span>
        </div>
        <div class="am-u-sm-10 login-am-center">
            <form class="am-form" action="/login/login" method="post">
                <fieldset>
                    <div class="am-form-group">
                        <input type="text" name="email" class="" id="doc-ipt-email-1" placeholder="Please input your EMAIL">
                    </div>
                    <div class="am-form-group">
                        <input type="password" name="password" class="" id="doc-ipt-pwd-1" placeholder="Please input your password">
                    </div>
                    <p><button type="submit" class="am-btn am-btn-default">Login</button></p>
                    <div class="am-form-group">
                        <a href="/login/register">Register</a>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <a href="/login/forgetPassword">Forget password</a>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>

<script>
    

</script>
{% endblock %}