{% extends "common/layout-login.html" %} {% block content %}
<div class="login-box-body">
    <p class="login-box-msg">Find your password back</p>

    <form id="register-form" class="am-form" action="/login/getPasswordBack" method="post">
        <div class="form-group has-feedback">
            <input type="email" name="mail" class="form-control" placeholder="Please input your email address" required>
            <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
        </div>
        <div class="row">
            <div class="col-xs-8">
                <p class="text-danger">{{message}}</p>
            </div>
            <!-- /.col -->
            <div class="col-xs-4">
                <button type="submit" class="btn btn-primary btn-block btn-flat">Send email</button>
            </div>
            <!-- /.col -->
        </div>
    </form>
    <a href="/login/login" class="text-center">Try to login</a>
</div>

{% endblock %} {% block javascript %}
<script>
</script>
{% endblock %}