{% extends "common/layout-login.html" %} {% block content %}
<!-- /.login-logo -->
<div class="login-box-body">
    <p class="login-box-msg">Sign in to start your session</p>

    <form action="/login/login" method="post">
        <div class="form-group has-feedback">
            <input type="email" name="email" class="form-control" placeholder="Email">
            <span class="glyphicon glyphicon-envelope form-control-feedback"></span>

        </div>
        <div class="form-group has-feedback">
            <input type="password" name="password" class="form-control" placeholder="Password">
            <span class="glyphicon glyphicon-lock form-control-feedback"></span>
        </div>
        <div class="row">
            <div class="col-xs-8">
                <p class="bg-danger">{{message}}</p>
            </div>
            <!-- /.col -->
            <div class="col-xs-4">
                <button type="submit" class="btn btn-primary btn-block btn-flat">Sign In</button>
            </div>
            <!-- /.col -->
        </div>
    </form>
    <!-- /.social-auth-links -->
    <a href="/login/forgetPassword">I forgot my password</a><br>
    <a href="/login/register" class="text-center">Register a new membership</a>

</div>
<!-- /.login-box-body -->
{% endblock %} {% block javascript %}
<script>
</script>
{% endblock %}