{% extends "common/layout-main-model.html" %} {% block content %}


<div class="col-xs-12">
    <div class="box">
        <div class="box-header with-border">
            <h3 class="box-title">Menus</h3>
            <a onclick="add(0)" class="badge btn-success"><i class="fa fa-plus"></i></a>
        </div>
        <!-- /.box-header -->
        <div class="box-body table-responsive">
            <div id="menu-tree"></div>
        </div>

    </div>
</div>

<div class="modal fade" id="model-menu" role="dialog" aria-labelledby="labe">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 id="modal-menu-title" class="modal-title"></h4>
            </div>
            <div id="modal-menu-body" class="modal-body">
                <form id="form-menu" class="form-horizontal" action="">
                    <div class="form-group">
                        <label for="text-control" class="col-xs-2 control-label">Control</label>
                        <div class="col-xs-10">
                            <input type="text" class="form-control" id="text-control" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="text-action" class="col-xs-2 control-label">Action</label>
                        <div class="col-xs-10">
                            <input type="text" class="form-control" id="text-action">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="text-text" class="col-xs-2 control-label">Text</label>
                        <div class="col-xs-10">
                            <input type="text" class="form-control" id="text-text">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="text-icon" class="col-xs-2 control-label">Icon</label>
                        <div class="col-xs-10">
                            <input type="text" class="form-control" id="text-icon">
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Sure</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>

{% endblock %} {% block javascript %}
<link rel="stylesheet" href="/app/assets/bootstrap-treeview/src/css/bootstrap-treeview.css">
<script src="/app/assets/bootstrap-treeview/src/js/bootstrap-treeview.js"></script>
<script src="/app/assets/sco/js/sco.confirm.js"></script>
<script>
    function loadTree() {
        $.get('/menu/getMenu', function (res) {
            var data = JSON.parse(res);
            if (data.ok) {
                $('#menu-tree').treeview({
                    data: data.result,
                    showTags: true,
                    highlightSelected: false,
                    controls: '<a onclick="del(this)" class="badge btn-danger"><i class="fa fa-recycle"></i></a>' +
                    '<a onclick="edit(this)" class="badge btn-info"><i class="fa fa-edit"></i></a>' +
                    '<a onclick="add(this)" class="badge btn-success"><i class="fa fa-plus"></i></a>'
                });
            } else {
                alert(data.result);
            }
        });
    }

    function add(item) {

        var target = $(item.parentNode);
        var nodeid = target.data('nodeid');
        var selected = $('#menu-tree').treeview('getNode', nodeid);
        var parentId = selected.id == undefined ? 0 : selected.id;

        //Show Modal
        var model = $('#model-menu');
        var form = $('#form-menu');
        form.find('#text-control').val('');
        form.find('#text-action').val('');
        form.find('#text-text').val('');
        form.find('#text-icon').val('fa fa-files-o');
        model.find('#modal-menu-title').html('Add Menu');
        model.modal('show');
        //Add Menu
        model.find('.btn-primary').unbind('click').click(() => {
            var menuObj = new Object();
            menuObj.parent_id = parentId;
            menuObj.control = form.find('#text-control').val();
            menuObj.action = form.find('#text-action').val();
            menuObj.text = form.find('#text-text').val();
            menuObj.icon = form.find('#text-icon').val();
            $.post('/menu/add', menuObj, function (res) {
                var data = JSON.parse(res);
                if (data.ok) {
                    loadTree();
                } else {
                    alert(data.result);
                }
            })
        });
    }

    function edit(item) {
        //Get the menu Id
        var target = $(item.parentNode);
        var nodeid = target.data('nodeid');
        var selected = $('#menu-tree').treeview('getNode', nodeid);
        //Show Modal
        var model = $('#model-menu');
        var form = $('#form-menu');
        form.find('#text-control').val(selected.control);
        form.find('#text-action').val(selected.action);
        form.find('#text-text').val(selected.text);
        form.find('#text-icon').val(selected.icon);
        model.find('#modal-menu-title').html('Edit Menu');
        model.modal('show');

        //Update menu
        model.find('.btn-primary').unbind('click').click(() => {
            var menuObj = new Object();
            menuObj.id = selected.id;
            menuObj.control = form.find('#text-control').val();
            menuObj.action = form.find('#text-action').val();
            menuObj.text = form.find('#text-text').val();
            menuObj.icon = form.find('#text-icon').val();
            $.post('/menu/update', menuObj, function (res) {
                var data = JSON.parse(res);
                if (data.ok) {
                    loadTree();
                } else {
                    alert(data.result);
                }
            })
        });

    }

    function del(item) {

        showInfoModel('Delete', 'Sure delete the menu item?', () => {
            var target = $(item.parentNode);
            var nodeid = target.data('nodeid');
            var selected = $('#menu-tree').treeview('getNode', nodeid);
            var id = selected.id;
            $.post('/menu/delete', {
                'id': id
            }, function (res) {
                var data = JSON.parse(res);
                if (data.ok) {
                    loadTree();
                } else {
                    alert(data.result);
                }
            });

        });

    }

    (function (document) {
        loadTree();
    })(document);

</script>

{% endblock %}