{% extends "layout-login.html" %} {% block content %}

<div class="am-g myapp-login">
    <div class="myapp-login-logo-block  tpl-login-max">
        <div class="myapp-login-logo-text">
            <div class="myapp-login-logo-text">
                Find password back
            </div>
        </div>
        <div class="am-u-sm-10 login-am-center">
            <form id="register-form" class="am-form"  action="/login/getPasswordBack" method="post">
                <fieldset>
                    <div class="am-form-group-register">
                        <input type="email" name="mail" class="" placeholder="Please input your email address" required>
                    </div>
                    <p><button id="form-submit-btn" type="submit" class="am-btn am-btn-default">Send email</button></p>
                   

                </fieldset>
            </form>
        </div>
    </div>
</div>


{% endblock %} {% block javascript %}
<script>
 
</script>

{% endblock %}