{% extends "layout-login.html" %} {% block content %}
<!-- /.login-logo -->
<div class="callout callout-danger">
    <h4>{{title}}</h4>
    <p>{{message}}</p>
</div>
<h2 id="second" class="text-center" style="color:aliceblue">3s</h2>
<!-- /.login-box-body -->
{% endblock %} {% block javascript %}
<script>
    var index = 3;
    setInterval(function() {
        index--;
        $('#second').html(index + 's');
    }, 1000)
    setTimeout(function() {
        location.href = '{{redirect}}';
    }, 3000);
</script>
{% endblock %}